@model MVCAutoSparkProject.Models.ServiceType
@{
    ViewBag.Title = "NewServiceType";
}

<h2>NewServiceType</h2>

@using (Html.BeginForm("SaveService", "Customer"))
{
<div class="form-group" style="width:30%">
    @Html.Label("Service Type")
    @Html.TextBoxFor(m => m.ServiceTpe, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ServiceTpe, "", new { @class = "text-danger border-danger" })
</div>
<div class="form-group" style="width:30%">
    @Html.LabelFor(a => a.Price)
    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger border-danger" })
</div>

<div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back to List", "ServiceType", "Customer", null, new { @class = "btn btn-outline-info " })
</div>
    @Html.HiddenFor(m => m.Id);

}